.print-process {
  flex-direction: column; 
}

.main-contentBBA {
  display: flex;
  flex: 1; /* Allow the main content to grow and take remaining space */
}
.PrintScheduleViewerBAB {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.PrintScheduleViewerBAB p{
  font-family: 'Times New Roman', Times, serif;
  color: #0346AA;
  font-weight: bold;
  gap: 20px;
}
.info-tableNa13 {
  display: table;

  border-collapse: collapse;
  overflow-x: auto;
  overflow-y: auto;
}

.info-tableNa13 td {
  padding: 10px;
  width: 500px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.table-contentNa12 {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #0346AA;
}

#p111{
  font-size: 40px;
}
#p211{
  font-size: 20px;
}

.action123 button{
    font-size: 18px;
    color:#ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0 150px;
    border: none;
    padding: 10px;
  }

  .action123 button:hover{
    opacity: 0.8;
  }
  .action123{
    margin-bottom: 20px;
  }