.history-bpage {
  flex-direction: column; 
}

.main-contentNaNaNahis {
  display: flex;
  flex: 1; /* Allow the main content to grow and take remaining space */
}
.history-printNA {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.history-printNA p{
  font-family: 'Times New Roman', Times, serif;
  color: #0346AA;
  font-weight: bold;
  gap: 20px;
}

.search-history-print{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.info-tableNa1133 {
  display: table;

  border-collapse: collapse;
  overflow-x: auto;
  overflow-y: auto;
}
.info-tableNa1133 thead{
  background-color: #76ADFF;
}
.info-tableNa1133 td {
  padding: 10px;
  width: 500px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.table-contentNa1233 {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

#p1133{
  font-size: 40px;
}
#p2133{
  font-size: 20px;
}

.search-his-By input{
    padding: 6px 50px;
}