.print-info-detail {
  flex-direction: column; 
}

.main-contentNaNaNadetail {
  display: flex;
  flex: 1; /* Allow the main content to grow and take remaining space */
}
.print-info-detailNa {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.print-info-detailNa p{
  font-family: 'Times New Roman', Times, serif;
  color: #0346AA;
  font-weight: bold;
  gap: 20px;
}
.info-tableNa1234 {
  display: table;

  border-collapse: collapse;
  overflow-x: auto;
  overflow-y: auto;
}

.info-tableNa1234 td {
  padding: 10px;
  width: 500px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.table-contentNa1234 {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #0346AA;
}

#p1134{
  font-size: 40px;
}
#p2134{
  font-size: 20px;
  background-color: #76ADFF;
  padding: 0 50px;
  color: white;
}

