.containerWP {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/background.png);
  background-size: cover;
}
.theaderWC {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: transparent;
}
.tbody {
  align-items: center;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vw;
  .body_title {
    display: flex;
    height: fit-content;
    flex-direction: column;
  }
  .tbody_bt {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
}
#tid1 {
  margin-bottom: -25px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
#tid2 {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
}
#tid3 {
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10vw;
}
#tid4 {
  padding-right: 45%;
  margin-bottom: -50px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  align-items: left;
}
#tbt1 {
  cursor: pointer;
  border: 2px solid #3e8bff;
  background-color: "#D9D9D9";
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
  width: 236px;
  height: 44px;
}
#tbt2 {
  cursor: pointer;
  border: 2px;
  background-color: #3e8bff;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  width: 236px;
  height: 44px;
}
