.containerWP {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/background.png);
  background-size: cover;
}
.theaderWC {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: transparent;
}
.theaderWC p{
  padding: 12px 0;
}
.tbody {
  align-items: center;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vw;
}
.tbody_bt {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-top: 100px;
}
.tbody_title {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#tid1 {
  margin-bottom: -25px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}
#tid2 {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
#tid3 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
#tid4 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
#tbt1 {
  cursor: pointer;
  border: 2px solid #000000;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
}
#tbt1 a{
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
#tbt2 {
  cursor: pointer;
  border: none;
  background-color: #3e8bff;
  text-align: center;
  padding: 10px 30px;
}
#tbt2 a{
  color: white;
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
