/* changePass.css */
.containerOption {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}


form {
    display: flex;
    flex-direction: column;
}


.containerOption a {
    background-color: #76ADFF;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
}

.containerOption a:hover {
    background-color: #0346AA;
}
