
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/EBGaramondRomanBold.ttf"); font-family : "EB Garamond"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/EBGaramondRomanRegular.ttf"); font-family : "EB Garamond"; font-weight : 400;  }