.PrintSchedule {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the content takes at least the full height of the viewport */
}
:root {
  --primary-width: 100%;
}
.row {
  margin-left: 71px;
  justify-content: center;
}
.main-content {
  display: flex;

  flex: 1; /* Allow the main content to grow and take remaining space */
}
.PrintScheduleViewer {
  display: inline-block;
  width: 100%;
  align-items: center;
  flex-direction: column;
  width: var(--primary-width);
  justify-content: space-between;
  background-color: antiquewhite;
}
.content {
  width: auto;
  height: 63px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-2 {
  height: 24px;
  width: 162px;
  background: rgba(118.15, 172.89, 255, 0.5);
  margin: auto;
}
#printButton {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
